[submodule "asdf"]
	path = vendor/asdf
	url = https://github.com/asdf-vm/asdf.git
	ignore = dirty
	branch = master

[submodule "oh-my-bash"]
	path = vendor/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
	branch = master
	ignore = dirty

[submodule "git/gitalias"]
	path = vendor/gitalias
	url = https://github.com/GitAlias/gitalias.git
	branch = main
	ignore = dirty

[submodule "vendor/vimrc"]
	path = vendor/vimrc
	url = https://github.com/amix/vimrc.git
	branch = master
	ignore = dirty

[submodule "vendor/nano-syntax-highlighting"]
	path = vendor/nano-syntax-highlighting
	url = https://github.com/galenguyer/nano-syntax-highlighting.git
	branch = master
	ignore = dirty
[submodule "vendor/gogh"]
	path = vendor/gogh
	url = https://github.com/Gogh-Co/Gogh.git
