[user]
	email = robloach@gmail.com
	name = Rob Loach
	signingkey = BF759F3D663BE9DECDA2A773627C60834A74A21A
	username = RobLoach

[core]
	excludesfile = ~/.dotfiles/.gitconfig.core.excludesfile
	autocrlf = false
	safecrlf = false
	ignorecase = false
	longpaths = true
	editor = nano

[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
	interactive = auto

[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[pull]
    rebase = false

[diff]
	renames = copies

[github]
	user = RobLoach

[commit]
	#template = ~/.dotfiles/.gitconfig.commit.template
	gpgsign = true

[help]
	autocorrect = 1

[init]
	defaultBranch = master

[alias]
	co = checkout
	cm = commit -m
	p = push
	# Show verbose output about tags, branches or remotes
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	last = log -1 HEAD --stat
	st = status -sb

[include]
	path = ~/.dotfiles/vendor/gitalias/gitalias.txt
