[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "node/nvm"]
	path = node/nvm
	url = git@github.com:creationix/nvm.git
[submodule "autoenv"]
	path = autoenv
	url = git@github.com:kennethreitz/autoenv.git
[submodule "shell/autoenv"]
	path = shell/autoenv
	url = git@github.com:kennethreitz/autoenv.git
