# Ignore all.
*

# Except the desired dotfiles.
!.gitignore
!.gitignore_global
!.gitconfig
!README.md
!.bashrc
!.bash_profile
!Makefile
!.config/sublime-text-2/Packages/Default/Preferences.sublime-settings
