# nano Configuration
# https://www.nano-editor.org/dist/latest/nanorc.5.html

# Automatically indent a newly created line to the same number of tabs and/or spaces as the previous line
set autoindent

# Suppress the title bar and instead show information about the current buffer at the bottom of the screen, in the space for the status bar.
set minibar

# Display lines that exceed the screen’s width over multiple screen lines
set softwrap

# When soft line wrapping is enabled, make it wrap lines at blank characters (tabs and spaces) instead of always at the edge of the screen.
set atblanks

# Set the target width for justifying and automatic hard-wrapping at this number of columns
set fill 80

# Don’t display the two help lines at the bottom of the screen.
#set nohelp

# Use a tab size of number columns. The default value is 8.
set tabsize 4

# Enable mouse support
set mouse

# Display line numbers to the left of the text area
set linenumbers

# Convert typed tabs to spaces.
set tabstospaces

# Specify the color combination to use for the title bar
set titlecolor green

# Save a file by default in Unix format
set unix

# Use this color combination for the status bar when an error message is displayed.
set errorcolor bold,red

# Specify the color combination to use for line numbers
set numbercolor black

# Specify the color combination to use for the shortcut key combos in the two help lines at the bottom of the screen.
set keycolor black

# Use this color combination for the concise function descriptions in the two help lines at the bottom of the screen.
set functioncolor black

# Specify the color combination to use for selected text
#set selectedcolor white,black

# Make the Home key smarter
set smarthome

# Remove trailing whitespace from wrapped lines when automatic hard-wrapping occurs or when text is justified.
set trimblanks

# Detect word boundaries differently by treating punctuation characters as parts of words.
set wordbounds

# Hide all elements of the interface
# set zero

# Make Ctrl+Right and Ctrl+Delete stop at word ends instead of beginnings.
set afterends

# Specify which other characters (besides the normal alphanumeric ones) should be considered as parts of words
set wordchars "_"

# Let an unmodified Backspace or Delete erase the marked region
set zap

# Save the last hundred search strings and replacement strings and executed commands, so they can be easily reused in later sessions.
set historylog

# When reading in a file with ^R, insert it into a new buffer by default.
set multibuffer

# Make status-bar messages disappear after 1 keystroke instead of after 20.
set quickblank

# Do not use the line below the title bar, leaving it entirely blank.
set emptyline

# Keybindings
bind ^Q   exit          all
bind ^X   exit          all
bind ^Z   suspend       main
bind M-R  redo          main
bind ^C   copy          main
bind ^V   paste         main
#bind ^X   cut           main
bind ^K   zap           main
bind ^H   chopwordleft  all
bind M-/  comment       main
bind ^Space complete    main

bind M-C  location      main
bind ^E   wherewas      all
bind M-E  findprevious  all
bind ^R   replace       main
bind ^_   gotoline      main
bind ^G   firstline     all
bind M-G  lastline      all
bind ^B   pageup        all
bind ^F   pagedown      all

bind M-1    help         all   # fix ^G been used
bind Sh-M-C constantshow main  # fix M-C been used
bind Sh-M-F formatter    main  # fix M-F and M-B might be used
bind Sh-M-B linter       main
unbind ^J               main  # Disable justify
unbind M-J              main  # Disable justify

# Nano Syntax Highlighting
